@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --primary-color: #8a79f0;
    --primary-color-dark: #2e2a40;
    --text-dark: #221e36;
    --text-light: #767268;
    --extra-light: #f1f2ff;
    --white: #ffffff;
    --max-width: 1200px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-container {
max-width: var(--max_width);
margin:auto;
padding: 5rem 1rem;
}

.section-header {
margin-bottom: 1rem;
font-size: 2.5rem;
font-weight:  600;
color: var(--text-dark);
line-height: 3.25rem;
text-align: center;
}

.section-description{
 color: var(--text-light);
 text-align: center;
 line-height: 1.5rem;
}
.btn {
    padding: 0.75rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    transition: 0.3s;
    cursor : pointer;
}
#btn{
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  transition: 0.3s;
  cursor : pointer;
}
.btn:hover{
    background-color: var(--primary-color-dark);
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;

}
.logo img{
  max-width: 35px;
}
.logo img{
    max-width: 70px;
    background-color: white;
}
.logo span{
    font-size: 1.25rem;
    font-weight: 700;
    font-style: italic;
    color: var(--white);
    white-space: nowrap ;
    
    }
img{
    display: flex;
    width: 100%;

}
a{
    text-decoration: none;
    transition: o.3s;

}
ul{
    list-style: none;

}
html,body{
    scroll-behavior: smooth;
}
body{
    font-family: "Roboto" ,sans-serif;
}
header{
    background: linear-gradient(
        to bottom,
        rgba(138, 121, 240, 0)
        rgba(138, 121, 240, 0.1)
    );
}
nav{
   position: fixed;
   isolation: isolate;
   z-index: 9;
    width: 100%;
}
.nav-header{
    position: 0.75rem 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color-dark);

}
/* .nav-logo .logo-dark{
    display: none;
} */
.nav-menu-btn{
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
}
.nav-links{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--primary-color-dark);
    transition: transform 0.5s;
    z-index: -1;
}
.nav-links.open{
    transform: translateY(100%);
}
.nav-links a{
    color: var(--white);
}
.nav-links a:hover{
    color: var(--primary-color);
}
.nav-btns{
    display: none;
}
.header-container{
    padding-top: 5rem;
    display: grid;
}
.header-image{
    position: relative;
    isolation: isolate;
    overflow: hidden;
}
.header-image::before{
    position: absolute;
    content: "" ;
    height: 100%;
    width: 100%;
    top: 0;
    left: 5rem;
    background-color: var(--primary-color);
    opacity: 0.2;
    border-top-left-radius: 2rem;
    z-index: -1;
}
.header-content{
    padding-block: 2rem 5rem ;
    padding-inline: 1rem;
}
.header-content h2{
    width: fit-content;
    margin-inline: auto;
    margin-bottom: 1rem;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-color);
    background-color: var(--white);
    border-radius: 5rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
}
.header-container h1{
    margin-bottom: 2rem;
    font-size: 3.5rem;
    font-weight: 800;
    color: var(--text-dark);
    text-align: center;
}
.header-form form{
    max-width: 900px;
    margin-inline: auto;
    padding: 1rem;
    display: flex;
    align-items: center ;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: var(--white);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
}
.header-form .input-group{
    flex: 1 0 170px;
    display: grid ;
    gap: 10px;
}
.header-form label{
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--text-dark);
}
.header-form input{
    width: 100%;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--text-light);
}
.header-form input::placeholder{
    color: var(--text-light);
}
.header-form .btn{
    padding: 15px 17px ;
}
.about-container .section-description{
 max-width: 600px;
 margin-inline: auto;
 margin-bottom: 4rem;
}
.about-grid{
    display: grid;
}
.about-card{
    max-width: 300px;
    margin-inline: auto;
    text-align: center ;
}
.about-card span{
    display: inline-block;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    padding: 16px 20px;
    border-radius: 1.25rem;
    box-shadow: 5px 5px 20px rgba(0,0,0, 0.05);
}
.about-card:nth-child(1) span{
    color: #8a79f0;
    background-color: #eeebfd;
}
.about-card:nth-child(2) span{
    color: #fba55b;
    background-color: #fff2e8;
}
.about-card:nth-child(3) span{
    color: #ee6a6f;
    background-color: #fde9ea;
}
.about-card h4{
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
}
.about-card p{
    color: var(--text-light);
    line-height: 1.5rem;
}

.deals {
    background-color: var(--extra-light);
  }
  
  .deals-container .section-description {
    max-width: 600px;
    margin-inline: auto;
    margin-bottom: 4rem;
  }
  
  .deals-tabs {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  }
  
  .deals-tabs .btn {
    font-weight: 600;
    color: var(--primary-color-dark);
    background-color: var(--white);
  }
  
  .deals-tabs .btn.active {
    color: var(--white);
    background-color: var(--primary-color);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }
  
  .deals-container .tab-content {
    display: none;
    gap: 1rem;
    animation: fadeEffect 1s;
  }
  
  .deals-container .tab-content.active {
    display: grid;
  }
  
@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.deals-card {
    padding: 1rem;
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }
  
  .deals-card img {
    margin-bottom: 1rem;
  }
  
  .deals-rating {
    margin-bottom: 1rem;
    color: goldenrod;
  }
  
  .deals-rating span:last-child {
    color: var(--text-light);
  }
  
  .deals-card h4 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
  }
  
  .deals-card-grid {
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  
  .deals-card-grid div {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text-light);
  }
  
  .deals-card-grid div span {
    font-size: 1.2rem;
  }
  
  .deals-card-footer {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
  
  .deals-card-footer h3 {
    font-size: 1.75rem;
    font-weight: 600;
    color: var(--text-dark);
  }
  
  .deals-card-footer h3 span {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--text-light);
  }
  
  .deals-card-footer a {
    font-weight: 600;
    color: var(--primary-color);
  }
  
  .deals-card-footer a:hover {
    color: var(--primary-color-dark);
  }

  .choose-container {
    display: grid;
  }
  
  .choose-content {
    padding-block: 2rem 5rem;
    padding-inline: 1rem;
  }
  
  .choose-grid {
    margin-top: 3rem;
    display: grid;
    gap: 2rem 1rem;
  }
  
  .choose-card {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
  }
  
  .choose-card span {
    padding: 5px 7px;
    font-size: 1.5rem;
    background-color: var(--extra-light);
    color: var(--primary-color);
    border-radius: 0.5rem;
  }
  
  .choose-card h4 {
    margin-bottom: 5px;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--text-dark);
  }
  
  .choose-card p {
    font-size: 0.9rem;
    color: var(--text-light);
    line-height: 1.5rem;
  }
 .subscribe-container{
    position: relative;
    isolation: isolate;
    display: grid;
    overflow: hidden;
    background-color: var(--extra-light);
 } 
 .subscribe-container::before, .subscribe-container::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 3rem;
  top: 0;
  left: 0;
  background-color: var(--white);
  z-index: -1;
 }
 .subscribe-container::after{
    top: unset;
    bottom: 0;
 }

 .subscribe-content{
    padding-block: 2rem 8rem;
    padding-inline: 1rem;
 }

 .subscribe-content form {
    margin-top: 2rem;
    margin-inline: auto;
    width: 100%;
    max-width: 500px;
    display: flex;
    align-items: center;
    background-color: var(--white);
    border-radius: 5px ;
}

.subscribe-content input{
    width: 100%;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--text-dark);
    padding-inline: 1rem;
    background-color: transparent;
}

.subscribe-content .btn{
    padding-block: 1rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.client-container{
    padding-bottom: 1rem;
}

.client-container .section-description {
    max-width: 600px;
    margin-inline: auto;
}

.swiper{
    padding-block: 4rem;
    width: 100%;
}
.swiper-slide{
    min-width: 375px ;
}
.client-card{
    padding: 1.5rem;
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    transition: 0.3s;
}
.client-card:hover{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.client-details{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.client-details img{
    max-width: 50px;
    border-radius: 100%;
}

.client-details h4{
   margin-bottom: 5px;
   font-size: 1.1rem;
   font-weight: 600 ;
   color: var(--text-dark); 
}
.client-rating{
    color: goldenrod;
}
.client-card p{
    color: var(--text-light);
    line-height: 1.5rem ;
}


.footer {
    background-color: var(--primary-color-dark);
  }
  
  .footer-container {
    display: grid;
    gap: 4rem 2rem;
  }
  
  .footer-logo {
    margin-bottom: 2rem;
  }
  
  .footer-logo img {
    max-width: 45px;
  }
  
  .footer-logo span {
    font-size: 1.5rem;
    color: var(--white);
  }
  
  .footer-col p {
    margin-bottom: 2rem;
    color: var(--extra-light);
    line-height: 1.5rem;
  }
  
  .footer-socials {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  .footer-socials a {
    padding: 6px 8px;
    font-size: 1.125rem;
    color: var(--text-dark);
    background-color: var(--white);
    border-radius: 100%;
  }
  
  .footer-socials a:hover {
    color: var(--white);
    background-color: var(--primary-color);
  }
  
  .footer-col h4 {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--white);
  }
  
  .footer-links {
    display: grid;
    gap: 1rem;
  }
  
  .footer-links a {
    color: var(--extra-light);
  }
  
  .footer-links a:hover {
    color: var(--primary-color);
  }
  
  .footer-links span {
    display: inline-block;
    margin-right: 10px;
    padding: 4px 6px;
    border: 1px solid var(--extra-light);
    border-radius: 100%;
  }
  
  .footer-links a:hover span {
    border-color: var(--primary-color);
  }
  
  .footer-bar {
    padding: 1rem;
    font-size: 0.9rem;
    color: var(--extra-light);
    text-align: center;
  }
  
 

@media (width > 540px) {
    .about-grid {
        grid-template-columns: repeat(2, 1fr);
    }
   
    .deals-container  .tab-content {
        grid-template-columns: repeat(2,1fr);
    }
    .choose-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-container {
        grid-template-columns: repeat(2, 1fr);
      }
}

@media (width > 768px) {
    nav{
        position: static;
        padding: 1.5rem 1rem;
        max-width: var(--max-width);
        margin-inline: auto;
        margin-bottom: 5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }
    .nav-header{
        flex:1 ;
        padding: 0;
        background-color: transparent;
    }
    .nav-logo img{
        max-width: 45px;
    }
    .nav-logo .logo-dark{
        display: flex;
    }
    .nav-logo span{
       font-size: 1.5rem;
       color: var(--primary-color-dark);
    }
    .nav-menu-btn{
        display: none;
    }
    .nav-links{
        position: static;
        width: fit-content;
        padding: 0;
        flex-direction: row ;
        background-color: transparent;
        transform: none !important;
    }
    .nav-links a{
        font-weight: 500;
        color: var(--text-dark);
    }
    .nav-links li:last-child{
        display: none;
    }
    .nav-btns{
        flex: 1;
        display: flex;
        justify-content: flex-end;
    }
    .header-container{
        padding-top: 0;
        grid-template-columns:
        minmax(0, 1fr)
        minmax(0, calc(var(--max-width) / 2)) 
        minmax(0, calc(var(--max-width) /2))
        minmax(0, 1fr);
    }
    .header-image{
        grid-area: 1/3/2/5;
        height: 100%;
    }
    .header-image img{
        padding-bottom: 5rem;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: unset;
        height: 100%;
    }
    .header-content{
        padding-block: 2rem 10rem;
        grid-area: 1/2/2/3;
    }
    .header-content h2{
        margin-inline-start: unset;
    }
    .header-content :is(h1, .section-description){
        text-align: left ;
    }
    .header-form form{
        padding: 1.5rem;
        transform: translateY(-50%);
    }
    .about-container{
        padding-top: 3rem;
    }
    .about-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .deals-container .tab-content {
        grid-template-columns: repeat(3, 1fr);
    }
    .choose-container {
        grid-template-columns:
          minmax(0, 1fr)
          minmax(0, calc(var(--max-width) / 2))
          minmax(0, calc(var(--max-width) / 2))
          minmax(0, 1fr);
      }
    
      .choose-image {
        position: relative;
        isolation: isolate;
        grid-area: 1/1/2/3;
        height: 100%;
      }
    
      .choose-image img {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: unset;
        height: 100%;
      }
    
      .choose-content {
        padding-block: 5rem;
        grid-area: 1/3/2/4;
      }
    
      .choose-content :is(.section-header, .section-description) {
        text-align: left;
      }
      .subscribe-container {
        grid-template-columns:
          minmax(0, 1fr)
          minmax(0, calc(var(--max-width) / 2))
          minmax(0, calc(var(--max-width) / 2))
          minmax(0, 1fr);
      }

      .subscribe-image{
        position: relative;
        isolation: isolate;
        grid-area: 1/3/2/5;
        height: 100%;
      }
      .subscribe-content{
        padding-block: 8rem;
        grid-area: 1/2/2/3;
      }
      .subscribe-content :is(.section-header, .section-description){
        text-align: left;
      }
      .subscribe-content form{
        margin-inline-start: unset;
      }
      .footer-container {
        grid-template-columns: repeat(4, 1fr);
      }
}
@media (width > 1024px) {
    .deals-container .tab-content {
        gap: 1.5rem;
    }
    .deals-card {
        padding: 1.5rem;
    }
    
}